$cream            : #E3DFBA;
$night            : #042029;
$dawn             : #0F4D61;
$green            : #DEFF00;
$pink             : #F10075;
$orange           : #FF4E00;
$red              : #BB3500;
$blue             : #2389D1;
$teal             : #0CD8C3;

$cream            : #ffd590;
$night            : #0e2912;
$dawn             : #103c16;
$green            : #ff9100;
$pink             : #f35d00;
$orange           : #d1b623;
$red              : #ffde28;
$blue             : #ff8528;
$teal             : #9e551e;

// Fresher colours
$c1               : $green;
$c2               : $pink;
$c3               : $blue;
$c4               : $orange;
$c5               : $teal;
$comment          : $cream;


$normal           : #777;
$black            : #fff;
$date             : #fff;
$error            : #BB3500;
$code             : $teal;
$link             : $blue;
$pending          : $blue;
$bright-bg        : #1A1E23;
$background-bg    : #042028;
$disabled-bg      : #000;
$date-bg          : #505645;
$error-bg         : #fff;
$header-bg        : #1A1E23;
$success-bg       : #fff;
$pending-bg       : #192A38;
$in-progress-bg   : #192A38;

  /*span { colour: transparent; display: inline; }*/
  // Row colours
  // Cycling through these four colours,
  // one per row
  .c1 { color: $c1 }
  .c2 { color: $c2 }
  .c3 { color: $c3 }
  .c4 { color: $c4 }
  .c5 { color: $black }
  .date {
    color: $date;
    background: $date-bg;
  }
  .error {
    color: $error;
    background: $error-bg;
  }
  .in-progress {
    background: $in-progress-bg;
  }
  .comment {
    color: $comment !important;
    font-weight: bold;
  }
  .code {
  }
  .link {
  }
  .link,
  .code {
    color: #000;
    text-decoration: underline;
    z-index: 9999;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 0 0.75rem;
    margin: 0 -0.75rem;
  }
  strong {
    color: $black !important;
    font-weight: normal;
  }
  body, html {
    height: 100%;
    margin: 0; padding: 0;
  }
  body {
    color: $normal;
    transition: background-color 0.25s;
    background: transparent;
  }
  html {
    background: $background-bg
  }
  .input, .output {
    line-height: 200%;
    height: 100%;
    width: 100%;
    font-size: 0.8em;
    border: 0; margin: 0;
    padding: 1rem;
    letter-spacing: 2px;
    font-family: monospace;
    white-space: pre-wrap;
    border-left: 7rem solid $bright-bg;
  }
  .input {
    resize: none;
    position: absolute;
    top: 0; left: 0;
    background: transparent;
    transition: background 1s;
  }
  .input:focus {
    outline: none;
  }
  .input:disabled {
    background: $disabled-bg
  }
  h1 {
    position: absolute;
    top: 0; left: 7rem;
    padding: 0.3rem 1.5rem 0.5rem 0;
    margin: 1rem;
    border-bottom: 2px solid #09f;
    transition: color 0.25s;
    z-index: 2;
    color: white;
  }
  .time {
    position: absolute;
    left: 1rem;
    z-index: 2;
  }
  @keyframes slidein {
    0% {
      top: -10rem;
    }
    100% {
      top: 0;
    }
  }
  .header.sticky {
    position: fixed;
    animation: slidein 0.25s;
    top: 0;
    left: 7rem; right: 0;
    background-color: $header-bg;
    z-index: 10;
  }

  .header.sticky h1 {
    font-size: 1.25em;
    position: static;
    display: inline-block;
    margin-top: 1rem;
    border-width: 0;
    border-left-width: 3px;
    padding: 0;
    padding-left: 0.5rem;
  }

  .wrapper {
    position: relative;
    height: 100%;
  }
  .input {
    padding-top: 8rem;
  }
  .wrapper {
    padding-top: 7rem;
  }
  html.ajax-pending {
    background-color: $pending-bg
  }
  html.ajax-pending h1 {
    color: $pending;
  }
  html.export-error,
  html.ajax-error {
    background-color: $error-bg
  }
  html.export-error h1,
  html.ajax-error h1 {
    color: $error;
  }
  html.export-success {
    background-color: $success-bg
  }

  .export-btn {
    position: fixed;
    bottom: 1em;
    right: 1em;
  }

  .parsed {
    position: fixed;
    bottom: 1em;
    right: 1em;
    height: 1em;
    width: 1em;
  }

  .input {
    color: rgba( 255, 255, 255, 1 );
    text-shadow: 0px 0px 0px transparent;
    -webkit-text-fill-color: transparent;
  }

  .input::-webkit-input-placeholder {
    text-shadow: none;
    -webkit-text-fill-color: initial;
  }
