  body, html {
    zoom: 1.1;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #042029;
  }

  body {
    transition: background-color 0.25s;
  }

  /*
    theme: (
      $cream:   #E3DFBA
      $night:   #042029
      $dawn:    #0F4D61
      $green:   #859900
      $pink:    #D33582
      $orange:  #C64A13
      $red:     #BB3500
      $blue:    #2389D1
      $teal:    #259186
    )
  */

  body{ background-color: #042029; color: #E3DFBA; }
  .time { color: #C64A13; }
  span { color: #E3DFBA; }
  span:nth-of-type(4n) { color: #859900; }
  span:nth-of-type(4n+2) { color: #2389D1; }
  span:nth-of-type(4n+3) { color: #D33582; }

  .date { background: #E5FFB3; }
  .error { background: #BB3500; color: #E3DFBA !important }
  .in-progress { background:rgba( 133, 153, 0, 0.3 ); }

  .time, .line{
    border-bottom: 1px dotted currentColor;
  }
  .comment {
    color: #EC9762 !important;
    font-weight: bold;
  }

  strong {
    color: #E3DFBA !important;
  }

  textarea, .output {
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    color: rgba( 255, 255, 255, 1 );
    line-height: 1.6;
    font-size: 0.8em;

    height: 100%;
    width: 100%;
    border: 0; margin: 0;
    padding: 1rem;
    white-space: pre-wrap;
    border-left: 9rem solid #FFF;
  }


  textarea {
    text-shadow: 0px 0px 0px transparent;
    -webkit-text-fill-color: transparent;
  }

  textarea::-webkit-input-placeholder {
    text-shadow: none;
    -webkit-text-fill-color: initial;
  }

  textarea {
    resize: none;
    position: absolute;
    top: 0; left: 0;
    background: transparent;
  }
  textarea:focus {
    outline: none;
  }
  h1 {
    position: absolute;
    top: 0; left: 7rem;
    padding: 0.3rem 1.5rem 0.5rem 1rem;
    margin: 1rem;
    border-bottom: 1px solid #09f;
    border-left: 1rem solid #09f;
    transition: color 0.25s;
    z-index: 2;
  }
  .time {
    position: absolute;
    left: 1rem;
    z-index: 2;
    width: 9rem;
    margin-top: -3px;
  }
  @keyframes slidein {
    0% {
      top: -10rem;
    }
    100% {
      top: 0;
    }
  }
  .header.sticky {
    position: fixed;
    animation: slidein 0.25s;
    top: 0;
    left: 7rem; right: 0;
    background-color: #eee;
    z-index: 10;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }

  .header.sticky h1 {
    font-size: 1.25em;
    position: static;
    display: inline-block;
    margin-top: 1rem;
    border-width: 0;
    border-left-width: 3px;
    padding: 0;
    padding-left: 0.5rem;
  }

  .wrapper {
    position: relative;
    height: 100%;
  }
  textarea {
    padding-top: 8rem;
  }
  .wrapper {
    padding-top: 7rem;
  }
  body.ajax-pending {
    background-color: #073B4C;
  }
  body.ajax-pending h1 {
    color: #09f;
  }
  body.ajax-error {
    background-color: #FEE;
  }
  body.ajax-error h1 {
    color: #E00;
  }

  .export-btn {
    position: fixed;
    bottom: 1em;
    right: 1em;
    border: 1px solid rgba(230, 230, 230, 1);
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border-radius: 3px;
  }

  .parsed {
    position: fixed;
    bottom  : 1em;
    right   : 1em;
    height  : 1em;
    width   : 1em;
  }